body {
  background: #232323;
  color: white;
}

.App {
  position: relative;
  
}

canvas {
  border: 1px solid cadetblue;
  background-color: #282c34;
}

/* svg {
  position: absolute;
  pointer-events: none;
} */

menu {
  position: absolute;
  top: 50px;
  padding: 20px;
}
menu.sim-menu {
  top: auto;
  bottom: 70px;
}

input[type="text"] {
  width: 50px;
}

table tr:hover {
  background-color: #333;
}